.listings {
	background: $color-white;
	height: 100%;
	min-height: $min-page-height;
	overflow-x: hidden;
	padding: 1rem;
	position: relative;

	&__header {
		color: $primary-color;
		font-size: 3rem;
		display: inline-block;
		margin-left: auto;
		margin-bottom: 3rem;
		@include center-x;
		@include partial-line-after;
	}
	&__feedWrapper {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	&__feed {
	}
}
