.listings {
	background: $color-white;
	height: 100%;
	min-height: $min-page-height;
	overflow-x: hidden;
	padding: 1rem;
	position: relative;

	&__header {
		color: $primary-color;
		font-size: 3rem;
		display: inline-block;
		margin-left: auto;
		margin-bottom: 3rem;
		@include center-x;
		@include partial-line-after;
	}
	&__feedWrapper {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	&__feed {
	}

	&__pagination {
		list-style: none;
		display: flex;
		padding-top: 1rem;
		padding-bottom: 1rem;
		align-items: center;
		font-size: 2.5rem;
		justify-content: center;
		margin-bottom: 2rem;

		& > li {
			background-color: $primary-color;
			margin-right: 0.3rem;
			border-radius: 0.2rem;
			&:hover,
			&.active {
				background-color: darken($color: $primary-color, $amount: 5);
			}
		}

		& > li > a {
			color: white;
			padding: 0.2rem 1.2rem;
		}
	}
}
