.welcome {
	background-size: cover;
	height: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100%;
	@include flex-center;

	&__centerBox {
		background-color: rgba($color: $color-white, $alpha: 0.5);
		border: 0.3rem solid $color-white;
		border-radius: 1rem;
		box-shadow: 0.2rem 0.2rem 0.2rem 0.4rem rgba($color-black, 0.3);
		min-width: 40rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
		padding: 2rem;
	}
}
