.card {
	background-color: $color-white;
	border: 0.2rem solid darken($color: $color-white, $amount: 10);
	border-radius: 1rem;
	color: $color-black;
	display: flex;
	flex-direction: column;

	&__image {
		align-self: center;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		width: 100%;
	}

	&__body {
		padding: 0.5rem;
	}

	&__title {
		font-size: 2rem;
	}

	&__subtitle {
		color: $color-green;
		font-size: 1rem;
		margin-top: -0.6rem;
		margin-left: 0.4rem;
	}
}
