.form {
	margin-top: 1rem;
	&__group {
		display: block;
	}

	&__input {
		min-width: 20rem;
		border: 0.1rem solid $secondary-color;
		padding: 1rem;
		border-radius: 0.5rem;
		background-color: $color-light-grey;

		&:focus {
			outline: none;
		}

		&-block {
			width: 100%;
		}
		&-danger {
			border: 0.1rem solid $color-red;
		}
	}

	&__label {
		display: block;
		color: $color-black;
		font-size: 1.8rem;
		font-weight: 500;
		@include no-selection;
	}

	&__errorMessage {
		color: $color-red;
		font-size: 1.2rem;

		@include respond(tab-port) {
			font-size: 1.4rem;
		}

		@include respond(phone-port) {
			font-size: 1.6rem;
		}
	}

	&__textarea {
		resize: none;
	}

	&__inputSuffix {
		font-size: 2rem;
		color: $color-green;
		margin-left: -5rem;
	}

	&__image {
		display: none;

		&Preview {
			background-repeat: no-repeat;
			background-size: cover;
			height: 16rem;
			width: 16rem;
			border-radius: 1rem;
			margin-right: 0.5rem;

			&Wrapper {
				display: flex;
			}
		}
		&Label {
			display: inline-block;
			background-color: $color-light-grey;
			height: 16rem;
			width: 16rem;
			position: relative;
			border-radius: 1rem;

			&:hover {
				cursor: pointer;
			}

			& > i {
				font-size: 6rem;
				color: $color-dark-grey;
				@include center;
			}
		}
	}
}
