.imageSlider {
	background-color: rgba($color: #000000, $alpha: 0.9);
	max-width: 100rem;
	height: 50rem;
	@include respond(phone-port) {
		height: 30rem;
	}

	position: relative;
	transition: all 300ms;

	& > * {
		transition: inherit;
	}

	&:hover {
		.imageSlider__overlay {
			opacity: 0.3;
		}
	}

	&__overlay {
		background: #000;
		height: 100%;
		opacity: 0.1;
		position: absolute;
		width: 100%;
	}

	&__next,
	&__previous {
		align-items: center;
		background-color: $color-white;
		border-radius: 50%;
		display: flex;
		height: 6rem;
		justify-content: center;
		opacity: 0.7;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 6rem;
		z-index: 1;

		&:hover {
			cursor: pointer;
			opacity: 0.9;
		}
	}

	&__next {
		margin-right: 2rem;
		right: 0;
	}

	&__previous {
		margin-left: 2rem;
	}

	&__nextArrow,
	&__previousArrow {
		background-color: $color-black;
		height: 2.5rem;
		width: 2.5rem;
	}

	&__nextArrow {
		clip-path: polygon(25% 0, 25% 100%, 100% 50%);
	}

	&__previousArrow {
		clip-path: polygon(75% 1%, 75% 100%, 0 50%);
	}

	&__imageWrapper {
		max-width: 90%;
		height: 100%;
	}
	&__image {
		cursor: pointer;
		height: 100%;
		max-width: 100%;
		opacity: 0;
		transition: inherit;
		@include center;
		&-selected {
			opacity: 1;
		}
	}
	&__navList {
		bottom: 0;
		display: flex;
		list-style: none;
		left: 50%;
		margin-bottom: 2rem;
		position: absolute;
		transform: translateX(-50%) translateY(-50%);

		&:last-child {
			margin-right: 0;
		}
	}
	&__navItem {
		background-color: $color-white;
		border-radius: 50%;
		height: 1.6rem;
		margin-right: 0.5rem;
		width: 1.6rem;

		&-selected {
			background-color: $color-black;
		}
		&:hover {
			background-color: lighten($color-black, 50);
			cursor: pointer;
		}
	}
}
