$primary-color: #fc5c65;
$secondary-color: #4ecdc4;
$bg-color: #fff;
$link-color: darken($primary-color, 20);

// color pallete
$color-white: #ffffff;
$color-black: #212121;

$color-red: #f9555f;
$color-green: #21b089;
$color-yellow: #fef02a;
$color-blue: #3465a4;
$color-magenta: #944d95;
$color-cyan: #1f9ee7;

$color-light-grey: #f8f4f4;
$color-medium-grey: #6e6969;
$color-dark-grey: #424242;

$default-font-size: 1.6rem;
