body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	/* font-size: 16px; */
	line-height: 1.7;
	color: $color-black;
}

.heading-primary {
}

.heading-secondary {
}

.heading-tertiary {
}

.paragraph {
	font-size: $default-font-size;
	color: $color-black;
	&-danger {
		color: $color-red;
	}
}

.link {
	&,
	&:visited {
		text-decoration: none;
		color: initial;
	}

	&:hover {
		text-decoration: underline;
	}

	&-primary {
		color: $primary-color;
		&:hover {
			color: darken($color: $primary-color, $amount: 10);
		}
	}

	&-secondary {
		color: $secondary-color;
		&:hover {
			color: darken($color: $secondary-color, $amount: 10);
		}
	}
}
